.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem 0.5rem;
}

.filterInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.filterContainer label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input {
  height: 100%;
  padding: 0.55rem 0.25rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: inherit;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
}

.input:is(:focus) {
  border-bottom: 2px solid var(--pimary-color);
}

.tableContainer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 1rem;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

table {
  max-width: 1140px;
  width: 100%;
  border-collapse: collapse;
}

tbody,
tr {
  width: 100%;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  font-size: 1.125rem;
  color: black;
}

.tableTD:first-child {
  border-top-left-radius: 10px;
}

.tableTD:last-child {
  border-top-right-radius: 10px;
}

.tableHeader {
  background-color: #ececec;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
}

.whiteBg {
  background-color: #ffffff;
}

.grayBg {
  background-color: #eeeeee;
}

.sortButton,
.sortButtonReverse {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  margin: 0;
  line-height: 1;
  font-size: 1rem;
  color: var(--pimary-color);
  cursor: pointer;
  transition: transform 0.05s ease-out;
}

.sortButtonReverse {
  transform: rotate(180deg);
}

@media (max-width: 720px) {
  .filterContainer label {
    font-size: 1rem;
  }

  .filterInput {
    width: 35%;
    padding: 0.25rem 0.15rem;
    font-size: 0.95rem;
  }

  th,
  td {
    font-size: 0.85rem;
    padding: 0.15rem;
  }
}
