:root {
  --pimary-color: #4f4fd2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9fafbff;
  margin: 0 auto;
}

.app-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
